<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Inscription</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  [formGroup]="registerForm" novalidate>
      <div class="row">

        <div class="col">
          <input formControlName="name" type="text" class="form-control" placeholder="name:" style="border-color: #00a65a;" ng>
        </div>
        <div class="col">
          <input formControlName="username" type="text" class="form-control" placeholder="username:"style="border-color: #00a65a;" ng>
        </div>
      </div>
      <div class="form-group">
        <label ></label>
        <input formControlName="email" type="email" class="form-control" placeholder="email:"style="border-color: #00a65a;" ng> 
      </div>
      <div class="form-row">
        <div class="col">
          <input formControlName="password" type="password" class="form-control" placeholder="password" style="border-color: #00a65a;" ng>
        </div>
        <div class="col">
          <input formControlName="password2" type="password" class="form-control" placeholder="Confirmer Mot de passe"style="border-color: #00a65a;" ng>
        </div>
      </div>
      <div class="form-row">
        <div class="col">

        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label></label>
          <a class="btn btn-block btn-social btn-facebook" style="color: white">
            Connecter avec Facebook
          </a>
        </div>
        <div class="col">
          <label></label>
          <button type="submit" class="btn btn-block btn-success" (click)="register()">Inscription</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
  </div>
</ng-template>&nbsp;&nbsp;
<button class="btn btn-outline-primary my-2 my-sm-0" (click)="open(content)">Inscription</button>
