<div class="container-fluid"  >
  <br> <br><br>
  <ngb-carousel *ngIf="images">
    <div class="slideshow-container">
      <ng-template ngbSlide>
        <img [src]="images[0]" alt="Random first slide"  class="img-fluid" maxlength="">
        <div class="carousel-caption">
          <h3>Dota 2</h3>
          <p>watch live now.</p>
        </div>

      </ng-template>
    </div>
    <div class="slideshow-container">
      <ng-template ngbSlide>
        <img [src]="images[1]" alt="Random second slide"  class="img-fluid" maxlength="">
        <div class="carousel-caption">
          <h3>Call of duty Black oups...</h3>
          <p>watch live now.</p>
        </div>
      </ng-template>
    </div>
    <div class="slideshow-container">
      <ng-template ngbSlide>
        <img [src]="images[2]"  alt="Random third slide"  class="img-fluid" maxlength="">
        <div class="carousel-caption">
          <h3>League of legends</h3>
          <p>watch live now.</p>
        </div>
      </ng-template>
    </div>
    <div class="slideshow-container">
      <ng-template ngbSlide>
        <img [src]="images[3]" alt="Random fourth slide" class="img-fluid" maxlength="">
        <div class="carousel-caption">
          <h3>CS Go!</h3>
          <p>watch live now.</p>
        </div>
      </ng-template>
    </div>
  </ngb-carousel>
</div>
