
<div class="row">

  <div>
    <img class="img-fluid avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgTDOzadSH7HZlU96Ogy2XzMynwk4o4Epcvw12FmpBYRT0B_aLrA">
    Ami 1 <3
  </div>

  <div>
    <i class="fa fa-circle help is-warning"></i>
  </div>

</div>
&nbsp;

<div class="row">

  <div>
    <img class="img-fluid avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgTDOzadSH7HZlU96Ogy2XzMynwk4o4Epcvw12FmpBYRT0B_aLrA">
    Ami 2 <3
  </div>

  <div>
    <i class="fa fa-circle help is-success"></i>
  </div>

</div>

