<form class="form-inline my-2 my-lg-0">

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Information personnelle</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="angularForm" novalidate>
        <div class="form-row">

          <div class="col">
            <label>Username:</label>
            <input type="text" class="form-control" style="border-color: #00a65a;"formControlName="username">
          </div>
          <div class="col">
            <label>Name:</label>
            <input type="text" class="form-control" style="border-color: #00a65a;" formControlName="name">
          </div>
        </div>
        <div class="form-group">
          <label >Email:</label>
          <input type="email" class="form-control" style="border-color: #00a65a;" formControlName="email">
        </div>
      
        <div class="form-row">

          <div class="col">

          </div>
        </div>
        <div class="col">
          <label></label>
          <button type="submit" class="btn btn-block btn-success" (click)="submitContactForm()">Confirmer</button>

        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
    </div>
  </ng-template>&nbsp;&nbsp;

  <button class="btn btn-outline-primary my-2 my-sm-0" (click)="open(content,user)"  >éditer</button>



</form>

