<div class="image-upload">


<label for="file-input">

      <!--    <div (click)="editPicture($event)" class="text"><i style="color: red" class="material-icons md-24" >photo_camera</i>  </div>
  -->        <img class="avatar" src="https://vignette.wikia.nocookie.net/onepiece/images/8/88/Luffy_Right_Before_Timeskip.png/revision/latest?cb=20120819013635">
      <span class="fa fa-camera"></span>


</label>
  <input id="file-input" type="file">
</div>
<!--


  <div class="pic-bg">
      <div class="avatar img-fluid" src="https://vignette.wikia.nocookie.net/onepiece/images/8/88/Luffy_Right_Before_Timeskip.png/revision/latest?cb=20120819013635">

           <label class="middle" >
               <div (click)="editPicture($event)" class="text"><i style="color: white" class="material-icons md-24" >photo_camera</i></div>
           </label>

            <input id="file-input" accept="image/*" (change)="changeListener($event)" [(ngModel)]="tempfile" type="file"> -->
