
<div class="  row">
  <div >
    <app-header></app-header>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="col-md-12">
    <app-informationprofil></app-informationprofil>
  </div>
</div>
<div class="container container-fluid slideshow-container">

<div class="modal-body col-md-auto row">
  <div class="col-md-10">

    <app-statut></app-statut>
    <app-fildactualiter></app-fildactualiter>
  </div>
  <div class="col-md-2">
    <app-listamis></app-listamis>
  </div>
</div>
    <app-footer></app-footer>
</div>

